.not_found__title_color {
  color: #818c8b;
}

.not_found__description_color {
  color: #2d4642;
}

.not_found__home_btn {
  background-color: var(--dark-blue);
  border-color: var(--dark-blue);
}

.not_found__contact_btn {
  border-color: var(--dark-blue);
}

.not_found__contact_btn:hover {
  background-color: var(--dark-blue);
}
