.product__type__bg_color {
  background-color: #fafafa;
}

.product__number_result_color {
  color: #737373;
}

.product__filter__bg_color {
  background-color: #dddddd;
  border-color: #dddddd;
}

.product__filter_text_color {
  color: #737373;
}
