.product_description__available_text_color {
  color: #737373;
}

.product_description__in_stock_text_color {
  color: #23a6f0;
}

.product_description__line_color {
  color: #bdbdbd;
}

.product_description__btn_bg_color {
  background-color: #23a6f0;
}
