.purchase_history__btn_bg_color {
  background-color: var(--dark-blue);
}

.purchase__filter_order_text_color_selected {
  color: #23a6f0;
}

.purchase__filter_order_text_color:hover {
  color: #23a6f0;
}
