.product_card_list__number_result_color {
  color: #737373;
}

.product_card_list__filter__bg_color {
  background-color: #dddddd;
  border-color: #dddddd;
}

.product_card_list__filter_text_color {
  color: #737373;
}
